{% extends 'plants/base.html' %}
{% load static %}
{% block title %} Contact us {% endblock title %}

{% block main-content %}
    <style>
        /* Global Styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: green;
        }

        p {
            text-align: center;
            font-size: 20px;
            margin-top: 8px;
            color: #444;
        }

        /* Form Styles */
        form {
            margin-top: 20px;
            text-align: left;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 8px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        textarea {
            height: 150px;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        .success-message {
            color: green;
            text-align: center;
            font-weight: bold;
            font-size:22px;
        }
    </style>

{% if messages %}
            <div class="success-message">
                {% for msg in messages %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
    <div class="container">
        <h1>Contact Us</h1>
        <form method="post">
            {% csrf_token %}
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Your Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Your Message:</label>
            <textarea id="message" name="message" required></textarea>

            <input type="submit" value="Submit">
        </form>
        <div class="contact-info">
            <h1>Contact Information</h1>
            <p>If you have any questions or need assistance, please feel free to contact us using the information below:</p>
            <ul>
                <li>Email: info@nursingplants.com</li>
                <li>Phone: +913-416-7890</li>
                <li>Address: 123 Paldi Street, Nursingville</li>
            </ul>
        </div>
    </div>
<br>
<br>
<br>

{% endblock main-content %}
